<div class="card">
  <div class="card-header">
   <h2>About us</h2>
  </div>
  <div class="card-body">

<p><h3>How Did Real Estate Start?</h3>
The real estate industry traces its roots back to the late 19th century. But it didn't begin to take shape as we know it until the early 1900s. The National Association of Realtors was established as the National Association of Real Estate Exchanges in 1908 in Chicago as a way to expand real estate matters. The industry went through a series of evolutionary changes to include investment properties, flipping, and online sales.</p><br/>

<p><h3>How Did Land Ownership Develop?</h3>
Land ownership is deeply rooted in human history. Early tribal cultures (and still many of them today) used the land and its resources for sacred reasons only as needed rather than for economic ones. Rights to land were transferred between generations. It wasn't until early agricultural societies that people began to settle land. The ruling class recognized land ownership as a way to hold onto and increase its power and wealth.</p><br/>

<p><h3>When Did Real Estate Become an Investment?</h3>
Fluctuating property values have made real estate a very popular investment for many people. But real estate investing isn't a new concept. Renting land to tenants became commonplace in the early days of the United States followed by a surge in real estate after the Great Depression and World War II. The federal government enacted legislation for investors to generate income from real estate investment trusts in 1960, which led the way for people to buy and sell properties for profit. But it wasn't until the recession of the 1980s that real estate investing actually took off.</p><br/><br/>

  </div>
</div>