<h1>Apartments</h1>

<div id="apartments", class="row row-cols-1 row-cols-md-4 g-5 ">
  <% @apartments.each do |apartment| %>
    <%= render apartment %>
  <% end %>
</div>

<br/>
<div class="d-flex justify-content-center"><%== pagy_bootstrap_nav(@pagy)%></div>
